
<br><br><br>
<center>

<div class="card" style="width: 20rem;">
<div class="card-header">
   <h5>NAME :</h5><%= @user.first_name %> <%= @user.last_name %>
</div>
<ul class="list-group list-group-flush">
  <li class="list-group-item"><h5>CITY : </h5> <%= @user.city.name %></li>
  <li class="list-group-item"><h5>AGE : </h5> <%= @user.age %></li>
  <li class="list-group-item"><h5>DESCRIPTION : </h5> <%= @user.description %></li>
  <li class="list-group-item"><h5>MAIL : </h5> <%= @user.email %></li>
</ul>
</div>
</center>
